<span id="rpg">
    <span id="rpg-display">
        <div id="rpg-output">
        </div>
        <span id="rpg-map">
            <h4>Map</h4>
            <canvas id="rpg-mini-map">
            </canvas>
        </span>
    </span>
    <span id="rpg-input">
        <input type="text" id="rpg-input-field"/>
        <button class="button small" id="rpg-enter">Enter</button>
    </span>
</span>